services:
  - type: web
    name: n8n
    env: docker
    plan: starter
    buildCommand: docker build -t n8n .
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host
      - key: DB_POSTGRESDB_PORT
        fromDatabase:
          name: n8n-db
          property: port
      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database
      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user
      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password
      - key: N8N_ENCRYPTION_KEY
        generateValue: true
      - key: TZ
        value: Asia/Kolkata
      - key: GENERIC_TIMEZONE
        value: Asia/Kolkata
  - type: pserv
    name: n8n-db
    env: postgres
    plan: free
